@import "tailwindcss";

* {
  box-sizing: border-box;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-inter);
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

button {
  cursor: pointer;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
}
